<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li data-e2e="blog-error-message">
          <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title , data: { e2e: "blog-title-field"}%>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body, data: { e2e: "blog-text-field"} %>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.label :tag_builder, style: "display: block" %>
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>

  <div>
    <%= form.submit data: { e2e: blog.new_record? ? "submit-create-blog" : "submit-update-blog" }  %>
  </div>
<% end %>
